#container {
	width: 970px;
	margin: 0 auto;
}

#header {
	display:block;
}

#logo {
	position:relative;
	left:10px;
	width:400px;
	height: 67px;
	padding-left:85px;
	padding-top:10px;
	background: transparent url(../images/logo.png) no-repeat scroll 0% 0%;
}

#word {
	color: #cccccc;
}

#stream{
	color: #097FA3;
}

#top-menu {
	height: 20px;
	display: inline-block;
	position: relative;
	left: 400px;
	bottom:100px;
	border: solid 1px #cccccc;
	border-radius:3px;
}

#top-menu li {
	display: inline;
	border-right: solid 1px #cccccc;
	padding-right:10px;

}

#top-menu li.last{
	border-right:none;
}

#login {
	position: relative;
	left:410px;
	bottom:100px;
}

#page-title {
	display:block;
	width: 970px;
	position: relative;
	bottom:100px;
	height: 48px;
	background-color:#007CBA;
	color:#FFFFFF;
	font-size: 1.2em;
	padding-top:20px;
}
	

#breadcrumb {
	display:inline-block;
	width:720px;
	position: relative;
	left:150px;
	border-bottom: solid 1px #cccccc;
	bottom:110px;
}

#contact {
	display: inline-block;
	position: relative;
	bottom:50px;
	left:150px;
}

#phone-icon {
	display:block;
	height:52px;
	width:42px;
	position:relative;
	left:270px;
	bottom:0px;
background: transparent url(../images/phone.png) no-repeat scroll 0% 0% ; 
}


#hours{
	position: relative;
	font-size:.8em;
	left:295px;
	bottom:55px;
	font-weight:100;
	color: #333333;
	}

#international{
	position: relative;
	font-size:.8em;
	bottom:10px;
	font-weight:100;
	color: #333333;
}


#phone {
	position: relative;
	color: #3CACD4;
	font-size: 1.2em;
	left:173px;
	bottom:30px;

}

#crumbs {
	list-style-image : url('../images/home_button.png');

}


#sidebar {
	display:inline-block;
	width:180px;
	vertical-align: top;
}

#content {
	display:inline-block;
	position:relative;
	width: 700px;
}

